ul{
    list-style-type: none;
}

.product-list .product{
  display: flex;
  border: 1px solid black;
  margin: 0;
}

.product-list .product__item{
  padding: 0 10px;
}


* {
    box-sizing: border-box;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }